@model Gelp.SmartHome.Communication.Web.Models.DashboardModel

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div>
    <h4>DashboardModel</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
